<div id="wrapper">
  <form method="POST" action="/create">
    <div class="form-group" style="width:250px">
      <label>팀이름</label>
      <input name="a" type="content" class="form-control" placeholder="tema name">
    </div>
    <div class="form-group" style="width:500px">
      <label>팀사이트</label>
      <input name="b" type="text" class="form-control" placeholder="http://00000000000">
    </div>
    <div class="form-group" style="width:500px">
      <label>팀 key</label>
      <input name="c" type="integer" class="form-control" placeholder="수정 및 삭제를 위한 번호 입니다.">
    </div>
    <div class="form-group">
      <label>팀소개</label>
      <textarea name="d" class="form-control" rows="2" placeholder="100글자 이내로"></textarea>
    </div>
    <div class="form-group">
      <label>아이템소개</label>
      <textarea name="e" class="form-control" rows="5" placeholder="아이템 설명해주세요."></textarea>
    </div>
    <label>진행정도</label>
    <select class="form-control" name="f">
    <option value="마 이제 시작이다(1)">마 이제 시작이다(1)</option>
    <option value="시작이 반 아니가(2)">시작이 반 아니가(2)</option>
    <option value="아따 갈길이 멀구마(3)">아따 갈길이 멀구마(3)</option>
    <option value="이제 반밖에 안왔나(4)">이제 반밖에 안왔나(4)</option>
    <option value="마 거의 끝났다(5)">마 거의 끝났다(5)</option>
    <option value="마 지려부렸다(6)">마 지려부렸다(6)</option>
  </select>
    <button type="submit" class="btn btn-default">등록</button>
  </form>
</div>