<div class="wrapper">
    
    
    <div class="Text headtxt">
        <div class="texts">
            <h4 class="font_4">HACKATHON </h4>
            <h4 class="font_4">BROADCASTING SERVICE</h4>
        </div>
        <div class="tvbox">
            <%= image_tag('logotv.png', :class => "toptv") %>
        </div>
        
    </div>

    
    <nav>
        
        <ul class="menu">
            <a href="/">
                <li class="menuItem">
                    HOME
                </li>
            </a>
            <a href="/schedule">
                <li class="menuItem">
                    Schedule
                </li>
            </a>
        </ul>
    </nav>
    

    <div class="container">
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <p class="video" align="center">
            <%= image_tag('schedule5.png', :class => "schedule") %>
        </p>
    </div>

    
</div>
<footer class="foot" id="SITE_FOOTER" >
    
    <%= image_tag('wifi.png', :class => "wifi") %>
  

    <div class="calls">
        <p class="font_8"> please call here for information&#xa0;</p>
        
        <p class="font_8">&#xa0; &#xa0; &#xa0; - Sungwon Han) 010-8810-4152</p>
        
        <p class="font_8">&#xa0; &#xa0; &#xa0; - Hoyong Choi) 010-xxxx-xxxx</p>
        
        <p class="font_8">&#xa0; &#xa0; &#xa0; - Gunhee Park) 010-xxxx-xxxx</p>
    </div>
</footer>
<!------------------------------------------------------------------------------------------------------------------------->




<!-- jQuery -->
<script src="assets/jquery.js"></script>
