<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => "reload" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => "reload" %>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hackathon Broadcasting Service</title>

  <!-- Custom CSS -->
  <link href="/assets/main.css" rel="stylesheet">
  


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <!--Front by wix-->
  <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"/>
  <meta charset="utf-8"/>
  
  <meta name="description" content="HOME"/>
  <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/journalism-and-press/80/Journalism_media_press-13-512.png" type="image/x-icon"/>
  
  <meta http-equiv="X-Wix-Renderer-Server" content="app212.vac.aws"/>
  <meta http-equiv="X-Wix-Meta-Site-Id" content="2e0366c0-63c8-4554-ac6b-e79361549743"/>
  <meta http-equiv="X-Wix-Application-Instance-Id" content="00ed3f4f-c57e-4a78-bb72-2c85566ea221"/>
  <meta http-equiv="X-Wix-Published-Version" content="100"/>
  
  <meta http-equiv="etag" content="f3365844242c20b175aeb97f4e704bf2"/>
  <meta property="og:title" content="main"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.hbs.likelion.net/"/>
  <meta property="og:image" content="https://static.wixstatic.com/media/2981f6_5a72b312e5e34ca789c698859c55c528%7Emv2.png"/>
  <meta property="og:site_name" content="main"/>
  <meta property="og:description" content="HOME"/>
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
  
  <meta id="wixMobileViewport" name="viewport" content="minimum-scale=0.25, maximum-scale=1.2"/>
  
</head>
<body style="background-color:#B0E8D4; margin:0px; border:0px;">

<%= yield %>

</body>
</html>
